<mat-card>
  <mat-card-header>
    <mat-card-title>Mitglieder</mat-card-title>
    <button mat-button (click)="openCreateDialog()"><mat-icon>person_add</mat-icon></button>
  </mat-card-header>
  <mat-card-content *ngIf="members" class="scroll-content">
    <mat-list class="member-list">
      @for (member of members; track member; let i = $index) {
      <mat-list-item [routerLink]="['/members', member.id]">
        <mat-icon matListItemIcon fontIcon="person" />
        <div matListItemTitle>
          {{ member.firstName }} {{ member.lastName }}
          <mat-chip-set>
            @for (department of member.departments; track department) {
            <mat-chip-row [style]="getChipsStyle(department)" [routerLink]="['/departments', department.id]">
              {{ department.name }}
            </mat-chip-row>
            }
          </mat-chip-set>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="members.length-1 !== i" />
      }
    </mat-list>
  </mat-card-content>
</mat-card>
<router-outlet />