<mat-card>
  <mat-card-content *ngIf="members">
    <mat-list class="member-list">
      @for (member of members; track member; let i = $index) {
      <mat-list-item [routerLink]="['/members', member.id]">
        <mat-icon matListItemIcon fontIcon="person" />
        <div matListItemTitle>
          {{ member.name }}
          <mat-chip-set>
            @for (department of member.departments; track department) {
            <mat-chip-row [class]="department.color">
              {{ department.name }}
            </mat-chip-row>
            }
          </mat-chip-set>
        </div>
      </mat-list-item>
      <mat-divider *ngIf="members.length-1 !== i" />
      }
    </mat-list>
  </mat-card-content>
</mat-card>
<router-outlet />