<mat-card>
  <mat-card-header>
    <mat-card-title>
      Benutzer bearbeiten
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="grid">
    <mat-form-field>
      <mat-hint>Vorname</mat-hint>
      <input #firstName
       matInput [value]="member?.first_name" (change)="updateMember('first_name', firstName.value)"/>
    </mat-form-field>
    <mat-form-field>
      <mat-hint>Nachname</mat-hint>
      <input #lastName matInput [value]="member?.last_name" (change)="updateMember('last_name', lastName.value)"/>
    </mat-form-field>
    <mat-form-field>
      <mat-hint>Email</mat-hint>
      <input #email matInput [value]="member?.email" (change)="updateMember('email', email.value)"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Geburtsdatum</mat-label>
      <input matInput [matDatepicker]="picker" [value]="member?.birthdate" autocomplete="bday" #birthdate (change)="updateBirthdate(birthdate.value)" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker (closed)="updateBirthdate(birthdate.value)"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Straße</mat-label>
      <input matInput [value]="member?.address?.street_name ?? ''" #street (change)="updateMember('street', street.value)" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hausnummer</mat-label>
      <input matInput [value]="member?.address?.street_number ?? ''" #number (change)="updateMember('number', number.value)"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Postleitzahl</mat-label>
      <input matInput [value]="member?.address?.city?.postal_code ?? ''" #postal_code (change)="updateMember('postal_code', postal_code.value)" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ort</mat-label>
      <input matInput [value]="member?.address?.city?.name ?? ''" #street (change)="updateMember('city', street.value)"/>
    </mat-form-field>
    <div>
      <h3><b>Abteilungen</b></h3>
      <mat-selection-list [disabled]="loading">
        @for (department of member?.departments; track $index) {
        <mat-list-option [selected]="department.joined" (selectedChange)="onDepartmentChange(department.id, $event)">
          <div style="height: 1rem; width: 1rem; display: inline-block; border-radius: 50%; line-height: 1rem;"
            [style.background-color]="'#' + department.color"></div>
          {{ department.name }}
        </mat-list-option>
        }
      </mat-selection-list>
    </div>
    <!-- <div>
      <h3><b>Anwesenheiten</b></h3>
      <mat-list [disabled]="loading">
        @for (attendance of member?.attendances; track $index) {
        <mat-list-item>
          {{ attendance }}
        </mat-list-item>
        }
      </mat-list>
      <button mat-button>Anwesenheit hinzufügen</button>
    </div>
  </mat-card-content>
</mat-card>