<mat-card>
  <mat-card-header>
    <mat-card-title>{{ member?.name }}</mat-card-title>
    <mat-card-subtitle>{{ member?.email }} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="grid">
    <div>
      <mat-selection-list>
        @for (department of member?.departments; track $index) {
          <mat-list-option [selected]="department.joined" (selectedChange)="onDepartmentChange(department.id, $event)">
            <div style="height: 1rem; width: 1rem; display: inline-block; border-radius: 50%; line-height: 1rem;" [style.background-color]="'#' + department.color"></div>
            {{ department.name }}
          </mat-list-option>
        }
      </mat-selection-list>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions align="end">
    <button mat-flat-button color="primary">Button 1</button>
    <button mat-button color="accent">Button 2</button>
  </mat-card-actions> -->
</mat-card>