<mat-card>
  <mat-card-header>
    <mat-card-title>
      Benutzer bearbeiten
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="grid">
    <mat-form-field>
      <mat-hint>Benutzername</mat-hint>
      <input matInput [value]="member?.name" />
    </mat-form-field>
    <mat-form-field>
      <mat-hint>Email</mat-hint>
      <input matInput [value]="member?.email" />
    </mat-form-field>
    <mat-form-field>
      <mat-hint>Vorname</mat-hint>
      <input matInput [value]="member?." />
    </mat-form-field>
    <div>
      <mat-selection-list [disabled]="loading">
        @for (department of member?.departments; track $index) {
        <mat-list-option [selected]="department.joined" (selectedChange)="onDepartmentChange(department.id, $event)">
          <div style="height: 1rem; width: 1rem; display: inline-block; border-radius: 50%; line-height: 1rem;"
            [style.background-color]="'#' + department.color"></div>
          {{ department.name }}
        </mat-list-option>
        }
      </mat-selection-list>
    </div>
  </mat-card-content>
  <!-- <mat-card-actions align="end">
    <button mat-flat-button color="primary">Button 1</button>
    <button mat-button color="accent">Button 2</button>
  </mat-card-actions> -->
</mat-card>