@import '@angular/material/prebuilt-themes/indigo-pink.css';

$footer-height: 2rem;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .inner-wrapper {
    margin: 1rem;
    overflow: visible;
  }
  .content {
    flex: 1;
    padding-bottom: $footer-height;
    overflow: hidden;
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: $footer-height;
    font-size: small;
    font-weight: 100;
    * {
      margin: 0 0.25rem;
    }
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nav-list {
    width: 10rem;
  }
}
