<h2 mat-dialog-title>Anwesenheit hinzufügen</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Datum</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="attendance" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Abbrechen</button>
  <button mat-button (click)="onSave()" cdkFocusInitial [disabled]="!attendance">Speichern</button>
</mat-dialog-actions>