:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 20rem;
  }
  mat-card-content {
    display: flex;
    flex-direction: column;
  }
}